body{
    background-color:#fefefe; 
}
.container{
  display: grid;
  
  
  
  
  
  grid-templates-columns: auto auto auto auto;
  grid-templates-rows: 1fr 1fr;
  grid-template-areas:  "h h h h"
                        "ti su su .";
  
}
.SU{
  display: grid;
  grid-area: su;
  text-align:center;
}
.title{
  display: grid;
  grid-area: ti;
}
.header{
  width:100%;
  top:0%;
  display:grid;
  grid-area: h;
}
/*.pet_name{*/
/*}*/
.nombre{
border-radius:10px;
}
.type{
border-radius:10px;
}
.info{
  border-radius:10px;
}
.B{
  justify-content:center;
}
.bio{
  border-radius:10px;
}
.about{
  border-right: 1px solid black;
  border-left: 1px solid black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}
.fetch{
  display: block;
  margin-left: auto;
  margin-right: auto;
    
}
li {
  float: right;
  padding: 20px 0px;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-family: georgia;
}
li a:hover {
  background-color: #FFA06F;
}
.button{
  padding:20px;
  background-color: #FFA06F; 
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
.footer {
  font-family: georgia;
  font-size: 25px;
  text-align:center;
  width: 100%;
  background-color:#FFA06F;
  color: white;
  }