<!DOCTYPE html>
<HTML>
  <HEAD>
    
    <link rel="stylesheet" href="/css/about.css">    
    <title>Puppy Love</title>
    <link rel="shortcut icon" type="images/jpg" href="images/logo.jpg">
    <style>
      body{font-family: verdana, sans-serif;}
      imgdawg{vertical-align: middle;}
    </style>
    
    <style>
     .mySlides {display:none}
     .w3-left, .w3-right{cursor:pointer}
    </style>

 </HEAD>
  <BODY>
      <div class="header">
        <ul>
          <img class="logo" src="/images/logo.jpg"  width="160px" height="110px">
          <li><a class="sign up" href="/signup">Sign Up</a></li>
          <li><a class="about" href="/about">About</a></li> 
          <li><a class="home" href="/">Home</a></li>
        </ul>
        </div>
        
        
        <center>
        <h1>About</h1>
        </center>
        
        <br>
        
        <div class="color">
        <p style="background-color: #ffd6a0;">
          Welcome to Puppy Love, home of the number one puppy play date app.
        </p>
       
       <center>
        <img src="../imgdawg/miss.PNG" style="width:64%">
        <div class="w3-content w3-display-container" style="max-width:800px">
        <img class="mySlides" src="/imgdawg/rot.jpg" style="width:100%">
        <img class="mySlides" src="../imgdawg/flower.jpg" style="width:100%">
        <img class="mySlides" src="../imgdawg/cute.jpg" style="width:100%">
        <img class="mySlides" src="../imgdawg/bird.jpg" style="width:50%">
        <img class="mySlides" src="../imgdawg/cat.jpg" style="width:100%">
        <img class="mySlides" src="../imgdawg/hah.png" style="width:100%">
        <img class="mySlides" src="../imgdawg/max.jpg" style="width:100%">
        <img class="mySlides" src="../imgdawg/baby.jpg" style="width:100%">
        <center>
        <button class="w3-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
        <img src="../imgdawg/pop.PNG" style="width:64%">
        
          <p style="background-color: #ffd6a0;">
            Create an account today! <br>
            <img src="../imgdawg/aw.jpg">
          </p>
        </center>
        
        
        
        
       <script>
      var slideIndex = 1;
      showDivs(slideIndex);
​
      function plusDivs(n) {
      showDivs(slideIndex += n);
      }
​
      function currentDiv(n) {
      showDivs(slideIndex = n);
      }  
​
      function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " w3-white";
      }
      </script>
​
        <br>
        <center>
       <p>
        <img src="../imgdawg/ios.jpg" style="width:100" height="200">
        <h6 style="background-color: #ffd6a0;">2019 CSSIx</h6>
        </p>
        </center>
    <div class="footer">
                <p> 
                Contact Information<br>
                -----------
                </p>
                <a href="https://www.snapchat.com/">
                <img border="0"  src="../images/sc.png" width="30" height="30">
                </a>
​
                <a href="https://www.instagram.com/">
                <img border="0"  src="../images/ig.png" width="30" height="30">
                </a>
                
                 <a href="https://support.google.com/mail/answer/56256?hl=en">
                <img border="0"  src="../images/mail.png" width="30" height="30">
                </a>
               
​
    </div>
        
  </BODY>
    
</HTML>