<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Puppy Love</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>
   <img src="images/puppyluv.png" alt="some text" width="300" height="200">
<div id="header">
   <h1>About</h1>
   <!-- Insert your super clever slogan that may or may not have several puns in it -->
 </div>
 <div id="links">
   <a class="link" href="home.html">Home</a>
   <a class="link" href="about.html">About</a>
   <a class="link" href="sign_up.html">Sign Up</a>
 </div>
 <div id="info">
   <img src="puppyluv.png"
   <!-- Insert your list of things that make google high school great here -->
   <!-- Insert an image of google high school here -->
 </div>
 </body>
</html>