<!DOCTYPE html>
<html>
    <head>
        <title>Profile Search</title>
        
        <link rel = "stylesheet" href = "/css/all_profiles.css">
    </head>
    
    <body>
       <div class="header">
            <ul>
            <img class="logo" src="images/logo.jpg" width="170PX"></img>
              <li><a class="sign_up" href="/signup">Sign Up </a></li>
              <li><a class="about" href="/about">About</a></li>
              <li><a class="home" href="/">Home</a></li>
            </ul>
        </div>
        
      <h6 class='title'>Fetch Your Match</h6>
  
   <div id="container">
    {% for profile in all_profiles %}
    
        <div class="user_profile">
          <img src="{{profile.p_pic}}" width = "50%" ></img>
          <h1 id="pet_name">{{profile.pet_name}}</h1>
          <h2>{{profile.a_typel}}</h2>
          <h3>{{profile.location}}</h3>
          <h3>{{profile.contact_info}}</h3>
          <h4>{{profile.bio}}</h4>
            
          
        </div>
        
        <br> <br>

    
    {% endfor %}

   </div>
    </body>

</html>