<!DOCTYPE html>
<html>
    <head>
        <style>
            .btn1 {
                  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
            }
            .btn2:hover {
                  background-color: #FFA06F; /* Green */
  color: white;
            }
            .footer {
              font-family: georgia;
              font-size: 25px;
              text-align:center;
              width: 100%;
              background-color:#FFA06F;
              color: white;
              }
        </style>


        <title>Profile Search</title>
        <link rel="shortcut icon" type="images/jpg" href="images/logo.jpg">
        
        <link rel = "stylesheet" href = "/css/all_profiles.css">
    </head>
    
    <body>
       <div class="header">
            <ul>
            <img class="logo" src="images/logo.jpg" width="170PX"></img>
              <li><a class="sign_up" href="/signup">Sign Up </a></li>
              <li><a class="about" href="/about">About</a></li>
              <li><a class="home" href="/">Home</a></li>
            </ul>
        </div>
        
      <h6 class='title'>Fetch Your Match</h6>
  
   <div id="container">
    {% for profile in all_profiles %}
    
        <div class="user_profile">
          <img src="{{profile.p_pic}}" width = "30%" ></img>
          <h1 id="pet_name">{{profile.pet_name}}</h1>
          <h2>{{profile.a_typel}}</h2>
          <h3>{{profile.location}}</h3>
          <form>
              <input class = 'btn1 btn2' type="submit" value="Catch!">
          </form>

          
        </div>
        
        <br> <br>
        
    <div class="footer">
            <p> 
            Contact Informtion<br>
            -----------
            </p>
            <a href="https://www.snapchat.com/">
            <img border="0"  src="../images/sc.png" width="30" height="30">
            </a>
​
            <a href="https://www.instagram.com/">
            <img border="0"  src="../images/ig.png" width="30" height="30">
            </a>
            
             <a href="https://support.google.com/mail/answer/56256?hl=en">
            <img border="0"  src="../images/mail.png" width="30" height="30">
            </a>
           
​
    </div>

    
    {% endfor %}

   </div>
    </body>

</html>