<!DOCTYPE html>
<HTML>
    <HEAD>
        <link type="text/css" rel="stylesheet" href="/css/home.css">

        <title>
            Puppy Love 
        </title>
        <link rel="shortcut icon" type="images/jpg" href="images/logo.jpg">

    </HEAD>
    <BODY>
        <div class="header">
            <ul>
            <img class="logo" src="/images/logo.jpg" width="170PX">
              <li><a class="sign_up" href="/signup">Sign Up </a></li>
              <li><a class="about" href="/about">About</a></li>
              <li><a class="home" href="/">Home</a></li>


            </ul>
        </div>
    
        <img class="fetch" src="/images/pupp1.jpg" width="70%">
        <br>
        <p>
          Fetch your match!
        </p>
 
        <div class="row">
          <div class="column" style="background-color:#fefefe;">


            <img src="/images/pupp2.jpg" width="100%">
            </div>
          <div class="column" style="background-color:#FFA06F;">
            <h2>Welcome!</h2>

            
            <p>Thanks for joining our Puppy Love family!<br>
                We hope that you enjoy your time here<br> with 
                us and fill it with super fun memories. <br>
                Here, at puppy love, we aspire to fill<br>
                other's lifes with love and joy.<br>
                We hope you are able to find your <br>
                home away form home in us and make <br> 
                us your #1 playing app.</p>
          </div>
        </div>
        <br>
        <p>
            Our Sponsors!
        </p>
        <img src="/images/sponsers.jpg" width="100%">
        
     <div class="footer">
            <p> 
            Contact Informtion<br>
            -----------
            </p>
            <a href="https://www.snapchat.com/">
            <img border="0"  src="../images/sc.png" width="30" height="30">
            </a>
​
            <a href="https://www.instagram.com/">
            <img border="0"  src="../images/ig.png" width="30" height="30">
            </a>
            
             <a href="https://support.google.com/mail/answer/56256?hl=en">
            <img border="0"  src="../images/mail.png" width="30" height="30">
            </a>
           
​
        </div>

        
        
    </BODY>
    
    
    
    
</HTML>




