<!DOCTYPE html>
<HTML>
    <HEAD>
        <link type="text/css" rel="stylesheet" href="/css/home.css">

        <title>
            Puppy Love 
        </title>

    </HEAD>
    <BODY>
        <div class="header">
            <ul>

            <img class="logo" src="/images/logo.jpg" width="170PX">
              <li><a class="sign_up" href="sign_up.html">Sign Up </a></li>
              <li><a class="about" href="about.html">About</a></li>
              <li><a class="home" href="home.html">Home</a></li>


            </ul>
        </div>
    
        <img class="fetch" src="/images/pupp1.jpg" width="70%">
        <br>
        <p>
          Fetch your match!
        </p>
 
        <!--<div class="row">-->
        <!--  <div class="column" style="background-color:#fefefe;">-->


            <img src="/images/pupp2.jpg" width="100%">
            </div>
          <div class="column" style="background-color:#FFA06F;">
            <h2>Welcome!</h2>

            
        <!--    <p>Thanks for joining our Puppy Love family!<br>-->
        <!--        We hope that you enjoy your time here<br> with -->
        <!--        us and fill it with super fun memories. <br>-->
        <!--        Here, at puppy love, we aspire to fill<br>-->
        <!--        other's lifes with love and joy.<br>-->
        <!--        We hope you are able to find your <br>-->
        <!--        home away form home in us and make <br> -->
        <!--        us your #1 playing app.</p>-->
        <!--  </div>-->
        <!--</div>-->
        <!--<p>-->
        
        <img src="images/pupp2.jpg" width="50%">
        <br>
        
        
            Our Sponsors!
        </p>
        <img src="/images/sponsers.jpg" width="100%">
        
        
    </BODY>
    
    
    
    
</HTML>




