<!DOCTYPE html>
<html>
  
    <head>
        <title>Create Profile</title>
    </head>
    
    <body>

        <form method=POST action= "/results">
            Pet Name: <br>
            <input type="text" name="user_pet_name" value="Pet Name Here">
            <br>
            Animal Type / Profile Pic: <br>
            <select name="animal-type">
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="bird">Bird</option>
                <option value="small_pet">Small Pet</option>
                <option value="reptile">Reptile</option>
            </select>
            <br>
            Location: <br>
            <select name="city_location">
                <option value="Salinas">Salinas</option>
                <option value="Marina">Marina</option>
                <option value="Seaside">Seaside</option>
                <option value="Sand City">Sand City</option>
                <option value="Monterey">Monterey</option>
            </select>
            <br>
            Contact Info: <br>
            <input type="text" name="user_contact_info" value="Contact Info Here">
            <br>
            Bio: <br>
            <input type="text" name="user_bio" value="Description Here">
            <br>
            
            <input type="submit" value="Create Profile!">
            
        </form>
    </body>
    
</html>